html {
    height: 100%;
    width: 100%;
}

body {
    max-width: fit-content;
    margin: 1em;
}

.header {
    margin: 1em;
}

.header img {
    max-width: 100%;
    max-height: 250px;
}

/* Header Title */
.header-txt {
    position: absolute;
    top: 20px;
    left: 2.5em;
    color: black;
    text-shadow: 2px 2px 14px whitesmoke;
    font-size: 30px;
}

/* Header subtitle */
.header-txt p {
    font-style: italic;
}

#geocoder {
    padding-top: .5em;
    padding-left: 2em;
}

#map {
    width: 95%;
    height: 600px;
    left: 2em;
}

.map-container {
    position: relative;
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 7em;
    left: 3em;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

footer {
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 2em;;
}